/* SPORTS */

.sports {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  padding: 20px;
  position: relative;
  text-align: center;
}

.sports img {
  height: 100px;
  margin: 20px;
}

.sport {
  padding: 0 30px;
}
.rules {
  padding-left: 0;
}
